################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DynamicLinqCore/obj
/DynamicLinqCore.Test/bin/Debug/netcoreapp2.0
/DynamicLinqCore.Test/obj
/DynamicLinqCore/bin/Debug
/DynamicLinqCore.EntityFramework/bin/Debug/netcoreapp2.1
/DynamicLinqCore.EntityFramework/obj
/DynamicLinqCore.Test/bin/Debug/netcoreapp2.1
/DynamicLinqCore/bin/Release
/DynamicLinqCore.EntityFramework/bin/Release
/DynamicLinqCore.Test/bin/Release/netcoreapp2.1
/DynamicLinqCore.EntityFramework/bin/Debug
