################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DynamicLinqCore/obj
/DynamicLinqCore.Test/bin/Debug/netcoreapp2.0
/DynamicLinqCore.Test/obj
